.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-nav{
  gap: 5px;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s
}

.navbar-nav a:hover {
  color:black;
}

h2 {
  text-align: center;
}

table {
  font-size: 14px;
  border: solid 2px #66696b;
  text-align: center;
  width: 100%;
}

table td {
  border-bottom: solid 0.5px #66696b;
  padding: 8px;
  text-align: center;
}

table th {
  border-bottom: solid 2px #66696b;
  font-weight: bold;
  background-color: #f2f2f2;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
